/**
 * General elements
 */

@import url(figure.css);
@import url(comments.css);

html {
	background:url(../img/background/paper.png);
	background-attachment: fixed;
}


body {
  color: #333;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  overflow-y: scroll;
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color:#de6464;
	text-decoration: underline;
}

span.bold {
  font-weight: bold;
}

/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  background: white;
  width: 980px; 
  padding: 10px;
  	border-radius: 5px;
}



/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
  font-weight: bold;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #de6464;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
}

/* Style for rss */
div.rss {
	width: 700px;
	
}

.smaller{
	font-size: smaller;
}




/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}

.sitefooter a {
	color:#de6464;
	text-decoration: none;
}

.sitefooter a:hover {
	text-decoration: underline;
}


/**
 * For articles
 */
.article1 {
  width: 700px;
/*  border-right: 1px solid #ccc; */
  padding-right: 1em;
}

.article1 h1,
.article1 h2 {
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
}

.byline p {
  margin-top: 0;
}
